@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: #f8fafc;
  background: #374151;
  font-family:
    Oxygen,
    Roboto,
    -apple-system,
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100vh;
}

.input-section {
  @apply flex flex-col w-full;
}
.label {
  @apply text-slate-900 text-sm font-semibold;
}
.input-text {
  @apply rounded-lg border-2 border-blue-800 py-1 px-3 leading-5 shadow-sm focus:outline-none;
}
.button {
  @apply w-full rounded-md border border-slate-300 px-4 py-2 font-bold text-base text-white shadow-sm focus:outline-none;
}
.btn-small {
  @apply py-0.5 px-3;
}
.btn-primary {
  @apply bg-blue-500 hover:bg-blue-600;
}
.btn-success {
  @apply bg-green-700 hover:bg-green-800;
}
.btn-danger {
  @apply bg-red-700 hover:bg-red-800;
}

.link {
  @apply text-sm underline text-blue-500 hover:text-blue-400;
}